<a href="https://colab.research.google.com/github/seyoung02227/covid_community_vulnerability/blob/master/Copy_of_seyoung_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## read in important libraries 
import pandas as pd
import numpy as np
import sklearn as skl
from sklearn import preprocessing
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [2]:
## example of reading in one of our datasets 
### Read in the base FIPS code dataset and drop Puerto Rico 

#FIPS_codes=pd.read_csv('../data/FIPS.csv', usecols=['FIPS','County','State','Merge'])
url = 'https://raw.githubusercontent.com/community-insight-impact/covid_community_vulnerability/master/data/FIPS.csv'
FIPS_codes = pd.read_csv(url, usecols=['FIPS','County','State','Merge'])
FIPS_codes=FIPS_codes[FIPS_codes['State']!='Puerto Rico']
#FIPS_codes['FIPS']=FIPS_codes['FIPS'].apply(fips_zeros)
FIPS_codes.head()

   FIPS    State          County                   Merge
0  1001  Alabama  Autauga County  Alabama Autauga County
1  1003  Alabama  Baldwin County  Alabama Baldwin County
2  1005  Alabama  Barbour County  Alabama Barbour County
3  1007  Alabama     Bibb County     Alabama Bibb County
4  1009  Alabama   Blount County   Alabama Blount County

State abbreviations by using a dictionary

In [3]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

In [4]:
FIPS_codes['State Abbrv'] = FIPS_codes['State'].map(us_state_abbrev)

In [5]:
FIPS_codes.head()

   FIPS    State          County                   Merge State Abbrv
0  1001  Alabama  Autauga County  Alabama Autauga County          AL
1  1003  Alabama  Baldwin County  Alabama Baldwin County          AL
2  1005  Alabama  Barbour County  Alabama Barbour County          AL
3  1007  Alabama     Bibb County     Alabama Bibb County          AL
4  1009  Alabama   Blount County   Alabama Blount County          AL

A function to check if all FIPS codes eists in a column

In [6]:
### a function to print all missing fips codes, you must first turn the fips column in a series of it's unique values
def missing_fips(fips):
    print("missing FIPS codes:")
    for i, name in FIPS_codes['FIPS'].iteritems():
        if not name in fips:
            print(name)

In [7]:
FIPS_codes_test = FIPS_codes[FIPS_codes['State']!='Alabama']
fips_unique_codes=FIPS_codes_test['FIPS'].unique()

In [8]:
missing_fips(fips_unique_codes)

missing FIPS codes:
1001
1003
1005
1007
1009
1011
1013
1015
1017
1019
1021
1023
1025
1027
1029
1031
1033
1035
1037
1039
1041
1043
1045
1047
1049
1051
1053
1055
1057
1059
1061
1063
1065
1067
1069
1071
1073
1075
1077
1079
1081
1083
1085
1087
1089
1091
1093
1095
1097
1099
1101
1103
1105
1107
1109
1111
1113
1115
1117
1119
1121
1123
1125
1127
1129
1131
1133

# Marge all datasets

## Internet Data

In [35]:
internet_data = pd.read_excel("internet_data.xlsx", sheet_name='County Connections Dec 2017', usecols=[0,3,4,5,6,7])

In [34]:
internet_data.head()

   countycode  consumer  non_consumer  all     hhs    ratio
0        1001        16             1   17  21.054     0.75
1        1003        70             9   80  76.133     0.92
2        1005         5             1    6   9.191     0.54
3        1007     -9999         -9999    4   6.916 -9999.00
4        1009        13             1   14  20.690     0.62

In [33]:
## check for missing values 
fips_unique = internet_data['countycode'].unique()
missing_fips(fips_unique)

missing FIPS codes:
2158
46102

Mising data for two counties: 2158 and 46102

## Elderly population

In [22]:
## read in the dataset 
url = 'https://raw.githubusercontent.com/community-insight-impact/covid_community_vulnerability/master/data/elderly_agesex.csv'
pop_elderly=pd.read_csv(url, usecols=['POPESTIMATE', 'AGE65PLUS_TOT', 'Merge'])
pop_elderly.head()

                    Merge  POPESTIMATE  AGE65PLUS_TOT
0  Alabama Autauga County        55869           8924
1  Alabama Baldwin County       223234          46830
2  Alabama Barbour County        24686           4861
3     Alabama Bibb County        22394           3733
4   Alabama Blount County        57826          10814

In [10]:
## add FIPS code to the dataset 
pop_elderly=pd.merge(pop_elderly, FIPS_codes, left_on='Merge', right_on='Merge', how='left')
pop_elderly.head()

,Merge,POPESTIMATE,AGE65PLUS_TOT,FIPS,State,County,State Abbrv
0,Alabama Autauga County,55869,8924,1001.0,Alabama,Autauga County,AL
1,Alabama Baldwin County,223234,46830,1003.0,Alabama,Baldwin County,AL
2,Alabama Barbour County,24686,4861,1005.0,Alabama,Barbour County,AL
3,Alabama Bibb County,22394,3733,1007.0,Alabama,Bibb County,AL
4,Alabama Blount County,57826,10814,1009.0,Alabama,Blount County,AL

In [11]:
## drop extra geography info 
pop_elderly=pop_elderly.drop(columns=['State', 'County'])

In [12]:
## check for missing values
fips_unique=pop_elderly['FIPS'].unique() 
missing_fips(fips_unique)

missing FIPS codes:
35013

In [16]:
## add a column for % Adults 65 and Older 
pop_elderly['% Adults 65 and Older'] = (100 * pop_elderly['AGE65PLUS_TOT'] / pop_elderly['POPESTIMATE']).round(decimals=3)
## drop extra columns 
pop_elderly = pop_elderly.drop(columns=['POPESTIMATE', 'AGE65PLUS_TOT'])

In [17]:
pop_elderly.head()

                    Merge    FIPS State Abbrv  % Adults 65 and Older
0  Alabama Autauga County  1001.0          AL                 15.973
1  Alabama Baldwin County  1003.0          AL                 20.978
2  Alabama Barbour County  1005.0          AL                 19.691
3     Alabama Bibb County  1007.0          AL                 16.670
4   Alabama Blount County  1009.0          AL                 18.701